<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PowerDiary2</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% load static %}
    <link rel="icon" href="{% static 'workout/images/fav.png' %}">
    <link rel="stylesheet" href="{% static 'workout/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'workout/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'workout/css/font.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="{% static 'workout/css/style.red.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" href="{% static 'workout/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'workout/css/all.min.css' %}">
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="search-panel">
                <div class="search-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn">Close <i class="fa fa-close"></i></div>
                    <form id="searchForm" action="#">
                        <div class="form-group">
                            <input type="search" name="search" placeholder="What are you searching for...">
                            <button type="submit" class="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid d-flex align-items-center justify-content-between ">
                <div class="navbar-header">
                    <a href="/dashboard" class="navbar-brand">
                        <div class="brand-text brand-big visible text-uppercase"><strong
                                class="text-primary">Power</strong><strong>Diary</strong><strong class="text-primary">2</strong></div>
                        <div class="brand-text brand-sm"><img src="{% static 'workout/images/fav_navbar.png' %}"
                                alt="Pd" class="fav_navbar"></div>
                    </a>
                </div>
                <ul class="right-menu list-inline no-margin-bottom">
                    <li class="list-inline-item"><a href="#" class="search-open nav-link"><i
                                class="icon-magnifying-glass-browser"></i></a></li>
                    <li class="list-inline-item logout"><a id="logout" href="/user/logout" class="nav-link">ログアウト <i
                                class="icon-logout"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch ">
        <nav id="sidebar" class="shrinked"><!-- shrinked追加 -->
            <div class="sidebar-header d-flex align-items-center "></div>
            <ul class="list-unstyled">
                <li><a href="/dashboard"><i class="icon-home"></i>ホーム</a></li>
                <li><a href="/workout"><i class="fa fa-plus-square"></i>記録</a></li>
                <li> <a href="/workouts"><i class="fa fa-th-list"></i>一覧</a></li>
                <li><a href="/model"><i class="fa fa-child"></i>模型</a></li>
                <li><a href="/history"><i class="fa fa-list"></i>履歴</a></li>
                <li class="active"><a href="/calc"><i class="fa fa-calculator"></i>計算</a></li>
                <li><a href="/prelusion"><i class="fa fa-info-circle"></i>紹介</a></li>
                <li><a href="/chat"><i class="fa fa-comments"></i>チャット</a></li>
            </ul>
        </nav>
        <div class="page-content active"><!-- active化 -->
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Calculation</h2>
                </div>
            </div>
            <section class="no-padding-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- ここに追加 -->
                            <form method="post" action="/calc">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="body_weight">体重（kg）:</label>
                                    <input type="number" pattern="\d*" class="form-control" id="body_weight"
                                        name="body_weight" required>
                                </div>
                                <div class="form-group">
                                    <label for="protein_intake">タンパク質摂取量（g）:</label>
                                    <input type="number" pattern="\d*" class="form-control" id="protein_intake"
                                        name="protein_intake" required>
                                </div>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </form>
                            <div class="col-lg-12 mt-4" id="proteinrec">
                                <h3>摂取記録</h3>
                                <div id="exercise-wrapper" class="mb-5">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">日付</th>
                                                <th scope="col">体重（kg）</th>
                                                <th scope="col">タンパク質摂取量（g）</th>
                                                <th scope="col">判定</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in protein_records %}
                                            <tr>
                                                <td>{{ record.date }}</td>
                                                <td>{{ record.body_weight }}</td>
                                                <td>{{ record.protein_intake }}</td>
                                                <td>{% if record.judgment == '◎' %}
                                                    <i class="fa-solid fa-face-laugh-beam text-success"></i>
                                                    {% elif record.judgment == '〇' %}
                                                    <i class="fa-solid fa-face-smile text-info"></i>
                                                    {% elif record.judgment == '△' %}
                                                    <i class="fa-solid fa-face-meh text-warning"></i>
                                                    {% elif record.judgment == '×' %}
                                                    <i class="fa-solid fa-face-frown text-danger"></i>
                                                    {% endif %}
                                                </td>

                                                <!-- # 5/26 -->
                                                <!-- {% if proteinrecord.completed == False %}
                                                <td>
                                                    <form id="delete-exercise-form"
                                                        action="/workout/{{ workout.id }}/exercise" method="GET"
                                                        class="p-0">
                                                        {% csrf_token %}
                                                        <input type="hidden" id="exercise_id" name="exercise_id"
                                                            value="{{ exercise.id }}">
                                                        <input type="hidden" id="workout_id" name="workout_id"
                                                            value="{{ workout.id }}">
                                                        <button id="delete-exercise" type="submit"
                                                            class="btn btn-link btn-lg p-0"><i
                                                                class="fa fa-remove delete-exercise"></i></button>
                                                    </form>
                                                </td>
                                                {% endif %} -->
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <p class="text-white text-muted ml-3 mr-3 block"><i class="fa fa-info-circle"></i>直近の7件のみ表示</p>
                    </div>
                </div>
            </section>

            <footer class="footer fixed-bottom no-margin-bottom">
                <div class="footer__block block no-margin-bottom">
                    <div class="container-fluid text-center">
                        <p class="no-margin-bottom">2025 &copy; PowerDiary2</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
    </script>
    <script src="{% static 'workout/javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'workout/javascript/jquery.cookie.js' %}">
    </script>
    <script src="{% static 'workout/javascript/front.js' %}"></script>
</body>

</html>